<h5>æŠ•ç¨¿è©³ç´°</h5>
<div class="card-list-contaner">
  <div class="card mx-auto mt-4 shadow-lg" style="width:40rem;">      
    <%= image_tag @post.post_image, class:"card-img-top"; %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= image_tag @post.menber.get_profile_image(100,100), class:"mt-3 rounded-circle" %>
            <%= @post.menber.nickname %>
          </div>
          <div class="col-10">
            <p class="card-text"><%= @post.introduction %></p>
          </div>
          <div class="col", id="favorite_buttons_<%= @post.id %>">
            <%= render 'public/favorites/favorite', post: @post %>
          </div>
          <div>
            <%= "#{@post.post_comments.count} ã‚³ãƒ¡ãƒ³ãƒˆæ•°  " %>
            <%=  link_to "ðŸ’¬", new_public_post_post_comment_path(@post.id) %>
          </div>
          <% if @post.menber_id = current_menber.id %>
            <div>
              <%= link_to "å‰Šé™¤", public_post_path(@post.id), method: :delete, "data-confirm" => "æŠ•ç¨¿ã‚’æ¶ˆã—ã¾ã™ã‹ï¼Ÿ", class: "btn btn-denger" %>
            </div>
          <% end %>  
        </div>  
      </div>
  </div>
</div>
<%= render 'public/post_comments/post_comment', post: @post, post_comments: @post_comments %>