<div class="container">
  <H6>掲示板一覧</H6>
  <div>
    <%= link_to "掲示板作成", new_public_board_path, class: "btn border" %>
  </div>
  <div class="row">
    <div>
      <table>
        <% @boards.each do |board| %>
          <tr>
            <td><%= l board.created_at %></td>
            <td>
              <%= link_to public_menber_path(board.menber.id) do %>
                <%= image_tag board.menber.get_profile_image(50,50) %>
              <% end %>
            </td>
            <td><%= link_to board.title, public_board_path(board.id) %></td>
          </tr>
        <% end %> 
      </table>
        <%= paginate @boards %>
    </div>      
  </div>    
</div>