<div class= "container">
  <h5>愛車紹介</h5>
  <%= image_tag @car.get_car_image(500,500) %>
  <table clas= "table">
    <tr>
      <td>車名</td>
      <td><%= @car.name %></td>
    </tr>
    <tr>
      <td>紹介</td>
      <td><%= @car.introduction %></td>
    </tr>
    <tr>
    <td>ジャンル</td>
    <td>
      <%= @car.genres.pluck(:name).join(',')%>
    </td>
    </tr>
  </table>
  <% if menber_signed_in? && @menber == current_menber %>
    <%= link_to "編集する", edit_public_car_path, class: "btn btn-primary" %>
    <%= link_to "削除する", public_car_path(@car), method: :delete, date: { confirm: '本当に消しますか？'}, class: "btn btn-danger" %>
  <% end %>  
</div>
