<h5>投稿詳細</h5>
<div class="card-list-contaner">
  <div class="card w-50 mx-auto mt-4 shadow-lg">      
    <%= image_tag @post.post_image, class:"card-img-top"; %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= image_tag @post.menber.get_profile_image(100,100), class:"mt-3 rounded-circle" %>
            <%= @post.menber.nickname %>
          </div>
          <div class="col-10">
            <p class="card-text"><%= @post.introduction %></p>
          </div>
          <div>
            <%= "#{@post.post_comments.count} コメント数  " %>
          </div>
          <div>
            <%= link_to "削除", admin_post_path(@post.id), method: :delete, "data-confirm" => "強制削除しますか？", class: "btn btn-denger" %>
          </div>
        </div>  
      </div>
  </div>
</div>
<%= render 'public/post_comments/post_comment', post: @post, post_comments: @post_comments %>