<div class="container">
  <h6>登録内容編集</h6>
  <%= form_with model: @menber, url: public_menber_path, method: :patch do |f| %>
    <div class="form-group row mb-2">
      <h6 class="col-form-label col-lg-2">プロフィール画像</h6>
      <%= f.file_field :profile_image, accept: "image/*" %>
    </div>
    <div class="form-group row mb-2">
      <%= f.label :name, '名前', class: "col-form-label col-lg-2" %>
      <%= f.text_field :name, class: "col-lg-3 form-control-sm" %>
    </div>
    <div class="form-group row mb-2">
      <%= f.label :nickname, 'ニックネーム', class: "col-form-label col-lg-2" %>
      <%= f.text_field :nickname, class: "col-lg-3 form-control-sm" %>
    </div>
    <div class="form-group row mb-2">
      <%= f.label :area, '住んでる地域', class: "col-form-label col-lg-2" %>
      <%= f.select :area, Menber.areas.keys, {}, {class: 'hoget'} %>
    </div>
    <div class="form-label row mb-2">
      <%= f.label :introduction, '自己紹介', class: "col-form-label col-lg-2" %>
      <%= f.text_area :introduction, class: "col-lg-3 form-control", rows: "5" %>
    </div>
    <%= f.submit "登録を変更する", class: "btn btn-success" %>
  <% end %>  
</div>