<div class="container">
  <h6>登録内容編集</h6>
  <%= form_with model: @menber, url: public_menber_path, method: :patch do |f| %>
    <div class="form-group">
      <h6>プロフィール画像</h6>
      <%= f.file_field :profile_image, accept: "image/*" %>
    </div>
    <div class="form-group">
      <%= f.label :name, '名前' %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :nickname, 'ニックネーム' %>
      <%= f.text_field :nickname %>
    </div>
    <div class="form-group">
      <%= f.label :area, '住んでる地域' %>
      <%= f.select :area, Menber.areas.keys, {}, {class: 'hoget'} %>
    </div>
    <div class="form-group">
      <%= f.label :introduction, '自己紹介' %>
      <%= f.text_area :introduction %>
    </div>
    <%= f.submit "編集" %>
  <% end %>  
</div>