<div class= "container">
  <% if @menber == current_menber %>
    <h5>マイページ</h5>
  <% else %>
    <h5><%= "#{@menber.nickname} さんの詳細ページ" %></h5>
  <% end %>  
  <%= image_tag @menber.get_profile_image(400,400) %>
  <table class= "table">
    <tr>
      <td>ニックネーム</td>
      <td><%= @menber.nickname %></td>
    </tr>
    <tr>
      <td>自己紹介</td>
      <td><%= @menber.introduction %></td>
    </tr>
    <tr>
      <td>住んでる地域</td>
      <td><%= @menber.area %></td>
    </tr>
    <tr></tr>
  </table>
  <% if @menber == current_menber %>
    <%= link_to "編集する", edit_public_menber_path, class: "btn btn-success" %>
  <% end %>  
  <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>名前</th>
        <th></th>
      </tr>      
    </thead>
    <% @cars.each do |car| %>
      <tbody>
        <tr>
          <td>
            <%= link_to public_car_path(car.id) do %>
              <%= image_tag car.get_car_image(350,150) %>
            <% end %>
          </td>  
          <td><%= car.name %></td>
          <% if car.menber == current_menber %>
            <td><%= link_to "編集する", edit_public_car_path(car.id), class: "btn btn-success" %></td>
            <td><%= link_to "削除する", public_car_path(car.id), method: :delete, date: { confirm: '本当に消しますか？'}, class: "btn btn-danger" %></td>
          <% end %>  
        </tr>
      </tbody>
    <% end %>  
  </table>
  <% if @menber == current_menber %>
    <%= link_to "登録する", new_public_car_path, class: "btn btn-primary" %>
  <% end %>  
</div>
