<div class= "container">
  <% if @menber == current_menber %>
    <h5>マイページ</h5>
  <% else %>
    <h5><%= "#{@menber.nickname} さんの詳細ページ" %></h5>
  <% end %>  
  <%= image_tag @menber.get_profile_image(400,400) %>
  <table class= "table">
    <tr>
      <td>ニックネーム</td>
      <td><%= @menber.nickname %></td>
    </tr>
    <tr>
      <td>自己紹介</td>
      <td><%= @menber.introduction %></td>
    </tr>
    <tr>
      <td>住んでる地域</td>
      <td><%= @menber.area %></td>
    </tr>
    <tr></tr>
  </table>
  <% if @menber == current_menber %>
    <% if @menber.name != "guestmenber" %>
      <%= link_to "編集する", edit_public_menber_path, class: "btn btn-success" %>
    <% end %>  
  <% end %>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>名前</th>
        <th></th>
      </tr>      
    </thead>
    <% @cars.each do |car| %>
      <tbody>
        <tr>
          <td style="width: 10%">
            <%= link_to public_car_path(car.id) do %>
              <%= image_tag car.car_image, size: "70x70" %>
            <% end %>
          </td>  
          <td style="width: 40%"><%= car.name %></td>
          <% if car.menber == current_menber %>
            <td style="width: 50%">
              <%= link_to "編集", edit_public_car_path(car.id), class: "btn btn-sm btn-success mb-2" %><br>
              <%= link_to "削除", public_car_path(car.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
            </td>
          <% end %>  
        </tr>
      </tbody>
    <% end %>  
  </table>
  </div>
  <% if @menber == current_menber %>
    <% if @menber.name != "guestmenber" %>
      <%= link_to "登録する", new_public_car_path, class: "btn btn-primary" %>
    <% end %>  
  <% end %>  
</div>
