<div class="container">
  <h2>新規登録</h2>
    <%= form_with model: @menber, url: menber_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
        <div class="field row mb-2">
          <%= f.label :name, '名前', class: "col-form-label col-lg-2" %>
          <%= f.text_field :name, autfocus: true, autocomplete: "name", class: "col-lg-3 form-control-sm" %>
        </div>
        <div class="field row mb-2">
          <%= f.label :nickname, 'ニックネーム', class: "col-form-label col-lg-2" %>
          <%= f.text_field :nickname, autfocus: true, autocomplete: "nickname", class: "col-lg-3 form-control-sm" %>
        </div>
        <div class="field row mb-2">
          <%= f.label :area, '住んでる地域', class: "col-lg-2" %>
          <%= f.select :area, Menber.areas.keys, {}, {class: 'hoge col-lg-1 form-control-sm'} %>
        </div>
        <div class="field row mb-2">
          <%= f.label :email, class: "col-form-label col-lg-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-3 form-control-sm" %>
        </div>
        <div class="field row mb-2">
          <%= f.label :password, "パスワード", class: "col-form-label col-lg-2" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上", class: "col-lg-3 form-control-sm" %>
        </div>

        <div class="field row mb-2">
          <%= f.label :password_confirmation, "パスワード(確認用)", class: "col-form-label col-lg-2" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-lg-3 form-control-sm" %>
        </div>

        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-info" %>
        </div>
    <% end %>

  <%= render "public/shared/links" %>

</div>